Repository tamarin-prover/batch-tamarin: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, update-version

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=88

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --line-length=88

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --remove-duplicate-keys
  - --expand-star-imports

update-version:
  name: Update version metadata
  entry: python scripts/update_version.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(version) : correct version display on `tamarin-wrapper --version`
  src/tamarin_wrapper/main.py
Due: black, isort, autoflake

feat(version) : Author formatting
  src/tamarin_wrapper/main.py
Due: black, isort, autoflake

refactor : removed unused nix import
  flake.nix
Due: none

refactor : fixed typing on versionning script
  flake.nix
  scripts/update_version.py
Due: black, isort, autoflake

feat(OutputManager): complete implementation
  examples/output_manager_example.py
  flake.nix
  src/tamarin_wrapper/modules/__init__.py
  src/tamarin_wrapper/modules/config_manager.py
  src/tamarin_wrapper/modules/output_manager.py
  src/tamarin_wrapper/modules/task_manager.py
Due: black, isort, autoflake

feat(OutputManager) : Error description for failed task, new output directory if one exists fix: OutputManager bad initialization
  examples/output_manager_example.py
  src/tamarin_wrapper/modules/config_manager.py
  src/tamarin_wrapper/modules/output_manager.py
  src/tamarin_wrapper/runner.py
  src/tamarin_wrapper/utils/notifications.py
Due: black, isort, autoflake

fix: resolve symbolic links for Tamarin binaries
  src/tamarin_wrapper/modules/config_manager.py
Due: black, isort, autoflake

chore: bump to v0.10
  pyproject.toml
  src/tamarin_wrapper/__init__.py
Due: black, isort, autoflake, update-version

Revert "fix: resolve symbolic links for Tamarin binaries"
  src/tamarin_wrapper/modules/config_manager.py
Due: black, isort, autoflake

fix: config was not passed to composents correctly; fix: additional minor enhancements
  examples/wpa2.json
  src/tamarin_wrapper/main.py
  src/tamarin_wrapper/modules/config_manager.py
  src/tamarin_wrapper/modules/resource_manager.py
  src/tamarin_wrapper/runner.py
  src/tamarin_wrapper/utils/notifications.py
Due: black, isort, autoflake

refactor: divided big unreadable functions into multiple and understandable functions
  src/tamarin_wrapper/modules/config_manager.py
  src/tamarin_wrapper/runner.py
Due: black, isort, autoflake

chore: bump to v0.1.11
  TODO.md
  pyproject.toml
  src/tamarin_wrapper/__init__.py
Due: black, isort, autoflake, update-version

feat(max_param): added max to core and memory global config
  MANIFEST.in
  README.md
  RECIPE_GUIDE.md
  TODO.md
  examples/wpa2.json
  pyproject.toml
  src/tamarin_wrapper/__init__.py
  src/tamarin_wrapper/model/tamarin_recipe.py
  src/tamarin_wrapper/modules/config_manager.py
  src/tamarin_wrapper/utils/system_resources.py
  tamarin-config-schema.json
Due: black, isort, autoflake, update-version

docs: Added ARCHITECTURE.md
  ARCHITECTURE.md
  README.md
  TODO.md
Due: none

slides
  slides/arch.png
  slides/presentation.pdf
  slides/presentation.typ
Due: none

slides: slight modification
  slides/presentation.pdf
  slides/presentation.typ
Due: none

chore(rename): renamed tamarin-wrapper into batch-tamarin
  ARCHITECTURE.md
  MANIFEST.in
  PACKAGING.md
  README.md
  RECIPE_GUIDE.md
  flake.nix
  pyproject.toml
  scripts/update_version.py
  setup-hooks.sh
  src/batch_tamarin/__init__.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/__init__.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/__init__.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/output_manager.py
  src/batch_tamarin/modules/process_manager.py
  src/batch_tamarin/modules/resource_manager.py
  src/batch_tamarin/modules/tamarin_test_cmd.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/runner.py
  src/batch_tamarin/utils/__init__.py
  src/batch_tamarin/utils/notifications.py
  src/batch_tamarin/utils/system_resources.py
  src/tamarin_wrapper/model/__init__.py
  src/tamarin_wrapper/utils/__init__.py
  tamarin-config-schema.json
Due: black, isort, autoflake, update-version

chore(typo) : ressources -> resources
  ARCHITECTURE.md
  README.md
  RECIPE_GUIDE.md
  examples/example_config.json
  examples/wpa2.json
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  tamarin-config-schema.json
Due: black, isort, autoflake

chore(version) : as renamed, get back to 0.1.0
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

docs(readme) : updated readme
  README.md
Due: none

docs(readme): added logo
  README.md
  assets/logo.png
Due: none

docs/fix: corrected spelling mistakes
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
  src/batch_tamarin/modules/output_manager.py
Due: black, isort, autoflake, update-version

chore(version) : bump to v0.1.1, updated logo
  assets/logo.png
  pyproject.toml
Due: update-version

fix: did not include assets to MANIFEST.in, image not displayed on PyPI
  MANIFEST.in
Due: none

docs: update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/missing-documentation.md
Due: none

docs(README): Table of contents, badges, acknowledgments
  README.md
  assets/logo.png
  flake.lock
  pyproject.toml
  scripts/update_version.py
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

Updated green for release
  README.md
Due: none

docs(logo) : logo update
  README.md
  assets/logo.png
Due: none

chore: delete TODO, issues are now live
  TODO.md
Due: none

examples : added a complete example close #14
  .gitignore
  MANIFEST.in
  examples/complete/complete_recipe.json
  examples/complete/protocols/MinimalInjectiveFact.spthy
  examples/complete/protocols/Minimal_HashChain.spthy
  examples/complete/protocols/SimpleChallengeResponse.spthy
  examples/complete/protocols/wpa2.spthy
  examples/example_config.json
  examples/wpa2.json
  examples/wpa2/protocols/wpa2.spthy
  examples/wpa2/wpa2_recipe.json
Due: none

Update LICENCE
  LICENCE
Due: none

feat(ConfigManager): split task to make individual lemma executions, rethinked config manager, rejecting unexpected JSON parameters
  .gitignore
  README.md
  examples/complete/complete_recipe.json
  flake.nix
  pyproject.toml
  src/batch_tamarin/__init__.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/lemma_parser.py
  src/batch_tamarin/modules/output_manager.py
Due: black, isort, autoflake, update-version

docs(arch): updated project architecture
  ARCHITECTURE.md
Due: none

test: wrote init tests for main components
  .github/ISSUE_TEMPLATE/missing-documentation.md
  README.md
  flake.nix
  pyproject.toml
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/lemma_parser.py
  src/batch_tamarin/utils/notifications.py
  src/batch_tamarin/utils/system_resources.py
  tests/__init__.py
  tests/conftest.py
  tests/test_config_manager.py
  tests/test_integration.py
  tests/test_lemma_parser.py
Due: black, isort, autoflake, update-version

fix(OutputManager) : deprecated config class -> config dict
  src/batch_tamarin/modules/output_manager.py
Due: black, isort, autoflake

fix(parser) : updated to not deprecated constructor
  flake.nix
  pyproject.toml
  src/batch_tamarin/modules/lemma_parser.py
Due: black, isort, autoflake, update-version

test(CI) : github action for test
  .github/workflows/test-on-main.yml
Due: none

feat(check) : rethinked CLI commands, new check command
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
  src/batch_tamarin/main.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/output_manager.py
  src/batch_tamarin/modules/tamarin_test_cmd.py
  src/batch_tamarin/utils/model_checking.py
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake, update-version

fix: removed --revalidate from tests, as it has been removed from main command
  tests/conftest.py
  tests/test_config_manager.py
  tests/test_integration.py
Due: black, isort, autoflake

feat(cmd_resolve) : 'path' parameter in JSON can also resolve 'tamarin-prover'
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/tamarin_test_cmd.py
  src/batch_tamarin/utils/system_resources.py
Due: black, isort, autoflake

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  update-version: any of: ^pyproject\.toml$
