Repository tamarin-prover/batch-tamarin: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, update-version

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        files: \.py$
        args: [--line-length=88]

      - id: isort
        name: isort
        entry: isort
        language: system
        files: \.py$
        args: [--profile=black, --line-length=88]

      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        files: \.py$
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --expand-star-imports

      - id: update-version
        name: Update version metadata
        entry: python scripts/update_version.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        stages: [pre-commit]

docs(example) : errors example
  examples/errors/errors.json
  examples/errors/protocols/errors.spthy
Due: none

feat(check) : --report option to get wellformedness check tamarin report
  examples/errors/errors.json
  src/batch_tamarin/main.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/utils/model_checking.py
Due: black, isort, autoflake

docs(architecture): update architecture documentation to reflect new CLI commands and validation features
  ARCHITECTURE.md
  README.md
Due: none

fix: bad task name display
  src/batch_tamarin/utils/model_checking.py
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

feat(check) : tamarin path display
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

fix(ci): prevent duplicate test
  .github/workflows/test-on-main.yml
Due: none

fix(ci): bad skip duplicate config
  .github/workflows/test-on-main.yml
Due: none

feat(cd) : build and publish pipeline
  .github/workflows/build-and-publish.yml
Due: none

fix: templating of the release on CD pipeline
  .github/workflows/build-and-publish.yml
Due: none

update readme, correct typo for LICENSE
  LICENSE
  README.md
Due: none

fix: update LICENSE link for PyPI
  README.md
Due: none

feat(cmd): init command to help to build a basic recipe
  src/batch_tamarin/commands/__init__.py
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/resource_manager.py
Due: black, isort, autoflake

refactor(main) : separate command logic from CLI entry point
  src/batch_tamarin/commands/check.py
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/main.py
Due: black, isort, autoflake

docs(examples) : new example and reorganized examples
  examples/__protocols__/MinimalInjectiveFact.spthy
  examples/__protocols__/Minimal_HashChain.spthy
  examples/__protocols__/SimpleChallengeResponse.spthy
  examples/__protocols__/errors.spthy
  examples/__protocols__/wpa2.spthy
  examples/complete.json
  examples/errors.json
  examples/minimal.json
  examples/wpa2.json
  examples/wpa2/protocols/wpa2.spthy
Due: none

docs: update README and ARCHITECTURE
  ARCHITECTURE.md
  README.md
Due: none

docs(examples) : added 2 more examples
  examples/custom_from_init.json
  examples/minimal2.json
Due: none

feat: clearer prompts to user
  src/batch_tamarin/commands/init.py
Due: black, isort, autoflake

feat(memory_limit) : percentages allowed
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/resource_manager.py
  src/batch_tamarin/utils/notifications.py
  src/batch_tamarin/utils/system_resources.py
Due: black, isort, autoflake

feat(init) : task-wide parameters builder
  src/batch_tamarin/commands/init.py
Due: black, isort, autoflake

fix: added a test for mixed inheritance and fixed config manager
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  tests/conftest.py
  tests/test_config_manager.py
Due: black, isort, autoflake

feat(init): lemma and their configuration
  src/batch_tamarin/commands/init.py
Due: black, isort, autoflake

docs(example): generated exemple from init command
  examples/complete_from_init_cmd.json
Due: none

chore(version) : bump to v0.2.2
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

feat(traces) : store counterexamples in {output_dir}/traces
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/output_manager.py
  tests/conftest.py
Due: black, isort, autoflake

feat(caching) : caching ExecutableTasks in user home
  README.md
  flake.nix
  pyproject.toml
  src/batch_tamarin/__init__.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake, update-version

feat(summary): added cache to summary
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

test(caching) : test suite for caching
  tests/test_cache_manager.py
Due: black, isort, autoflake

feat(commands): command filter to handle legacy tamarin version
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/utils/compatibility_filter.py
  tests/test_integration.py
Due: black, isort, autoflake

fix(traces) : traces options supported since 1.10
  src/batch_tamarin/utils/compatibility_filter.py
Due: black, isort, autoflake

fix: pre-commit-hooks install
  flake.nix
  pyproject.toml
Due: update-version

chore(deps): add jinja2 templating
  flake.nix
  pyproject.toml
Due: update-version

feat(report) : command calling logic
  src/batch_tamarin/commands/report.py
  src/batch_tamarin/main.py
Due: black, isort, autoflake

feat(model): model for batch execution report
  src/batch_tamarin/model/batch.py
Due: black, isort, autoflake

chore(time measure) : correct and complete description of
  src/batch_tamarin/model/batch.py
Due: black, isort, autoflake

feat(exec_report) : execution report
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/model/batch.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/output_manager.py
  src/batch_tamarin/runner.py
Due: black, isort, autoflake

fix: typo
  src/batch_tamarin/model/batch.py
Due: black, isort, autoflake

example : advanced example for inheritance
  examples/complex.json
Due: none

test(batch, output_manager, task_runner)
  tests/test_batch_manager.py
  tests/test_batch_model.py
  tests/test_config_manager.py
  tests/test_output_manager.py
  tests/test_resource_manager.py
  tests/test_task_manager.py
  tests/test_task_runner.py
Due: black, isort, autoflake

refactor(batch model) : first refactor to clean up code
  REFACTOR_PLAN.md
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/runner.py
  tests/test_task_runner.py
Due: black, isort, autoflake

feat(report) : report generator, first version
  flake.nix
  pyproject.toml
  src/batch_tamarin/commands/report.py
  src/batch_tamarin/model/batch.py
  src/batch_tamarin/modules/report_charts.py
  src/batch_tamarin/modules/report_data.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
  src/batch_tamarin/templates/report.tex.j2
  src/batch_tamarin/templates/report.typ.j2
  src/batch_tamarin/utils/dot_utils.py
  tests/test_report_generator.py
Due: black, isort, autoflake, update-version
