Repository tamarin-prover/batch-tamarin: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, update-version

black:
  name: black
  entry: black
  language: system
  args:
  - --line-length=88

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --profile=black
  - --line-length=88

autoflake:
  name: autoflake
  entry: autoflake
  language: system
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --remove-duplicate-keys
  - --expand-star-imports

update-version:
  name: Update version metadata
  entry: python scripts/update_version.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore(version) : bump to v0.2.5
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

chore(dev-deps): updated dev dependencies to last version
  pyproject.toml
Due: update-version

chore(flake): update dependencies
  flake.lock
Due: none

feat(nix): updated py-tree-sitter-spthy as a nix dependency
  flake.nix
Due: none

fix(batch): not having command in execution report
  src/batch_tamarin/modules/batch_manager.py
Due: black, isort, autoflake

feat(docker): version-preset dockerfiles
  src/batch_tamarin/dockerfiles/tamarin-1.10.0.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.10.0.nix
  src/batch_tamarin/dockerfiles/tamarin-1.4.0-amd64.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.4.0.nix
  src/batch_tamarin/dockerfiles/tamarin-1.4.1-amd64.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.4.1.nix
  src/batch_tamarin/dockerfiles/tamarin-1.6.0-amd64.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.6.0.nix
  src/batch_tamarin/dockerfiles/tamarin-1.6.1.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.6.1.nix
  src/batch_tamarin/dockerfiles/tamarin-1.8.0.Dockerfile
  src/batch_tamarin/dockerfiles/tamarin-1.8.0.nix
Due: none

feat(docker): develop docker builder
  src/batch_tamarin/dockerfiles/tamarin-develop.Dockerfile
Due: none

feat(docker): local compiling pipeline
  .gitignore
  examples/__dockerfiles__/local-tamarin.Dockerfile
Due: none

feat(docker) : first integration, still have execution issues
  examples/docker.json
  flake.nix
  pyproject.toml
  src/batch_tamarin/commands/check.py
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/docker_manager.py
Due: black, isort, autoflake, update-version

feat(docker): WIP: docker execution pipeline.
  examples/docker_complete.json
  src/batch_tamarin/commands/check.py
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/model/batch.py
  src/batch_tamarin/model/command_builder.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/docker_executor.py
  src/batch_tamarin/modules/docker_manager.py
  src/batch_tamarin/modules/tamarin_test_cmd.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/templates/summary.html.j2
  src/batch_tamarin/utils/compatibility_filter.py
  src/batch_tamarin/utils/model_checking.py
  src/batch_tamarin/utils/notifications.py
  tests/test_command_builder.py
  tests/test_docker_executor.py
  tests/test_docker_integration.py
Due: black, isort, autoflake

chore: bump to v1.0.0
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

feat(docker): dockerfiles with batch-tamarin inside
  .gitignore
  examples/__dockerfiles__/tamarin-only/local-file-build.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/local-tamarin-and-batch.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.10-and-batch.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.10-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-dev-and-batch.Dockerfile
Due: none

feat(docker): Dockerfiles without batch-tamarin
  examples/__dockerfiles__/tamarin-only/tamarin-1.10.0.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.10.0.nix
  examples/__dockerfiles__/tamarin-only/tamarin-1.4.0-amd64.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.4.0.nix
  examples/__dockerfiles__/tamarin-only/tamarin-1.4.1-amd64.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.4.1.nix
  examples/__dockerfiles__/tamarin-only/tamarin-1.6.0-amd64.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.6.0.nix
  examples/__dockerfiles__/tamarin-only/tamarin-1.6.1.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.6.1.nix
  examples/__dockerfiles__/tamarin-only/tamarin-1.8.0.Dockerfile
  examples/__dockerfiles__/tamarin-only/tamarin-1.8.0.nix
  examples/__dockerfiles__/tamarin-only/tamarin-develop.Dockerfile
Due: none

Preprocess includes
  src/batch_tamarin/modules/lemma_parser.py
  tests/test_lemma_parser.py
Due: black, isort, autoflake

fix(CI): fixed test action
  .github/workflows/test-on-main.yml
  tests/test_lemma_parser.py
Due: black, isort, autoflake

fix(ci): forgot the skip-duplicate
  .github/workflows/test-on-main.yml
Due: none

chore(update): support for python 3.9-3.13 to 3.10-3.14 - Now 3.14 is stable and supported - 3.9 is in EOL in 3 days - 3.12 is no more actively supported, no more relevant for tests
  .github/workflows/build-and-publish.yml
  .github/workflows/test-on-main.yml
  README.md
  flake.lock
  pyproject.toml
Due: update-version

chore(update): update py-tree-sitter-spthy package
  flake.nix
  pyproject.toml
Due: update-version

fix(models): task name pattern was not valid, it didn't match what JSON could use, digit is now valid
  src/batch_tamarin/model/tamarin_recipe.py
  tamarin-config-schema.json
  tests/test_config_manager.py
Due: black, isort, autoflake

fix(init): init ignores the preprocessor #define
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/modules/lemma_parser.py
  tests/test_lemma_parser.py
Due: black, isort, autoflake

fix(ConfigManager): fixes the parsing strategy, add a warning on duplicated filter
  src/batch_tamarin/modules/config_manager.py
Due: black, isort, autoflake

test(flags): tested this fix with Maïwenn's recommendation
  examples/__protocols__/wisec21-5G-handover/intra-5G/xn/5G_handover.spthy
  examples/test_preprecessor.json
Due: none

fix(tests): missplaced debug message for tests
  src/batch_tamarin/modules/config_manager.py
Due: black, isort, autoflake

feat(diff): auto-detect diff in init, add Observational_equivalence lemma if there is a diff param
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/modules/lemma_parser.py
  tests/test_lemma_parser.py
Due: black, isort, autoflake

fix(tests): forgot to remove _ after reformatting
  tests/test_lemma_parser.py
Due: black, isort, autoflake

feat(init): fallbacks in case of bad input by the user
  src/batch_tamarin/commands/init.py
  tests/test_init_command.py
Due: black, isort, autoflake

chore(version): bump to v1.1.0
  README.md
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

chore(assets): upload report
  assets/internship-report.pdf
Due: none

chore(docker): update version in nix pkgs
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.10-and-batch.nix
Due: none

feat(dockerfiles): batch+prover dockerfiles (amd64 untested)
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.0-and-batch-amd64.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.1-and-batch-amd64.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.0-and-batch-amd64.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.1-and-batch.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.8.0-and-batch.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.8.0-and-batch.nix
Due: none

Revise report command syntax in README.md
  README.md
Due: none

Update report command syntax in README.md
  README.md
Due: none

fix(documentation): wrong defaults in documentation
  RECIPE_GUIDE.md
Due: none

Remove rm-cache option
  src/batch_tamarin/main.py
Due: black, isort, autoflake

chore(uv-ruff): switch to uv and ruff
  .github/workflows/build-and-publish.yml
  .github/workflows/test-on-main.yml
  .pre-commit-config.yaml
  README.md
  examples/__dockerfiles__/with-batch-tamarin/local-tamarin-and-batch.Dockerfile
  examples/__dockerfiles__/with-batch-tamarin/tamarin-dev-and-batch.Dockerfile
  flake.nix
  pyproject.toml
  requirements.txt
  src/batch_tamarin/commands/cache.py
  src/batch_tamarin/commands/init.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/batch.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/lemma_parser.py
  src/batch_tamarin/modules/output_manager.py
  src/batch_tamarin/modules/process_manager.py
  src/batch_tamarin/modules/report_charts.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/modules/resource_manager.py
  src/batch_tamarin/modules/tamarin_test_cmd.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/runner.py
  src/batch_tamarin/utils/compatibility_filter.py
  src/batch_tamarin/utils/dot_utils.py
  src/batch_tamarin/utils/model_checking.py
  src/batch_tamarin/utils/notifications.py
  tests/fixtures/complete-example-results/traces/basic_KEYWORD1--Client_session_key_setup--stable.svg
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup--stable.svg
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup_stronger--stable.svg
  uv.lock
Due: black, isort, autoflake, update-version

fix(format/errors): fixed typing, format (verified with ruff and ty)
  scripts/update_version.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/lemma_parser.py
  src/batch_tamarin/modules/process_manager.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/modules/resource_manager.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/utils/dot_utils.py
  src/batch_tamarin/utils/model_checking.py
  src/batch_tamarin/utils/notifications.py
  src/batch_tamarin/utils/system_resources.py
  tests/conftest.py
  tests/test_batch_manager.py
  tests/test_cache_manager.py
  tests/test_config_manager.py
  tests/test_init_command.py
  tests/test_integration.py
  tests/test_lemma_parser.py
  tests/test_output_manager.py
  tests/test_report_data.py
  tests/test_report_generator.py
  tests/test_resource_manager.py
  tests/test_signal_handling.py
  tests/test_task_manager.py
  tests/test_task_runner.py
Due: black, isort, autoflake

chore(pyproject): replaced depracated classifiers
  pyproject.toml
Due: update-version

feat(version_update_script): update dockerfiles fetch version
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.10-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.8.0-and-batch.nix
  scripts/update_version.py
Due: black, isort, autoflake

chore(version): bump to v1.1.2, add contributors
  README.md
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.10-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.4.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.0-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.6.1-and-batch.nix
  examples/__dockerfiles__/with-batch-tamarin/tamarin-1.8.0-and-batch.nix
  pyproject.toml
  src/batch_tamarin/__init__.py
  src/batch_tamarin/main.py
  uv.lock
Due: black, isort, autoflake, update-version

fix(init.py): missing fields
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  update-version: any of: ^pyproject\.toml$
