Repository tamarin-prover/batch-tamarin: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, autoflake, update-version

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-docstring-first

  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        files: \.py$
        args: [--line-length=88]

      - id: isort
        name: isort
        entry: isort
        language: system
        files: \.py$
        args: [--profile=black, --line-length=88]

      - id: autoflake
        name: autoflake
        entry: autoflake
        language: system
        files: \.py$
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --expand-star-imports

      - id: update-version
        name: Update version metadata
        entry: python scripts/update_version.py
        language: system
        files: ^pyproject\.toml$
        pass_filenames: false
        stages: [pre-commit]

type ignore on pythonic behavior
  src/batch_tamarin/modules/config_manager.py
  src/batch_tamarin/modules/report_data.py
  src/batch_tamarin/utils/dot_utils.py
Due: black, isort, autoflake

refactor : moved report data to `models/`
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/report_generator.py
  tests/test_report_generator.py
Due: black, isort, autoflake

fix: compatibility filter was supposed to accept greater OR EQUAL version
  src/batch_tamarin/utils/compatibility_filter.py
Due: black, isort, autoflake

feat(report) : dot file management and template corrections
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/runner.py
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
  src/batch_tamarin/templates/report.tex.j2
  src/batch_tamarin/templates/report.typ.j2
  src/batch_tamarin/utils/dot_utils.py
Due: black, isort, autoflake

fix: better json extraction, respects structure
  src/batch_tamarin/model/report_data.py
Due: black, isort, autoflake

tests(report) : test report generation / reading of exec report
  tests/test_report_data.py
  tests/test_report_generator.py
  tests/test_task_runner.py
Due: black, isort, autoflake

fix: batch model generation keeps original task name
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/modules/config_manager.py
  tests/test_batch_manager.py
  tests/test_cache_manager.py
  tests/test_resource_manager.py
  tests/test_task_manager.py
  tests/test_task_runner.py
Due: black, isort, autoflake

chore(plan) : removed old refactor plan
  REFACTOR_PLAN.md
Due: none

fix&feat(cache) : forgot to cache output files. Now it's done
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/modules/task_manager.py
Due: black, isort, autoflake

feat(exec_summary) : rerun failed task + html summary
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/runner.py
  src/batch_tamarin/templates/summary.html.j2
Due: black, isort, autoflake

fix(wrapper_stop) : cache management for stop signal
  src/batch_tamarin/model/batch.py
  src/batch_tamarin/model/executable_task.py
  src/batch_tamarin/modules/task_manager.py
  src/batch_tamarin/runner.py
  tests/test_signal_handling.py
  tests/test_task_runner.py
Due: black, isort, autoflake

chore(upload): svg traces are generated by tests.
  tests/fixtures/complete-example-results/traces/basic_KEYWORD1--Client_session_key_setup--stable.svg
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup--stable.svg
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup_stronger--stable.svg
Due: none

fix(rerun) : simplified error rerun config, only add failed lemma for a task, multi version handling
  src/batch_tamarin/modules/batch_manager.py
Due: black, isort, autoflake

feat(summary): Lemma status and execution summary update in terminal
  examples/complete.json
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/runner.py
  src/batch_tamarin/templates/summary.html.j2
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

feat(check): updated check command report to match new formatting
  examples/wpa2.json
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

fix: bad rich syntax
  src/batch_tamarin/utils/notifications.py
Due: black, isort, autoflake

feat(report) : full html template
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/summary.html.j2
Due: black, isort, autoflake

feat(report) : update md template
  src/batch_tamarin/templates/report.md.j2
Due: none

feat(summary): consistency update with new execution summary
  src/batch_tamarin/modules/batch_manager.py
  src/batch_tamarin/templates/summary.html.j2
Due: black, isort, autoflake

feat(report-html): removed mermaid graphs for interactive google charts
  src/batch_tamarin/templates/report.html.j2
Due: none

fix(report): traces svg display now working
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
Due: none

feat(report): latex first template
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.tex.j2
  tests/fixtures/complete-example-results/traces/basic_KEYWORD1--Client_session_key_setup--stable.png
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup--stable.png
  tests/fixtures/complete-example-results/traces/basic_KEYWORD2--Client_session_key_setup_stronger--stable.png
Due: black, isort, autoflake

fix(traces_report) : exclude traces not belonging to right task
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
  src/batch_tamarin/templates/report.tex.j2
  src/batch_tamarin/templates/report.typ.j2
  tests/test_report_generator.py
Due: black, isort, autoflake

fix(report): adaptative relative path
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
  src/batch_tamarin/templates/report.tex.j2
  src/batch_tamarin/templates/report.typ.j2
Due: black, isort, autoflake

fix: timestamps
  src/batch_tamarin/modules/process_manager.py
  src/batch_tamarin/modules/task_manager.py
Due: black, isort, autoflake

fix(report) : first latex fixes
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.tex.j2
Due: black, isort, autoflake

feat(report): latex final template
  src/batch_tamarin/templates/report.tex.j2
Due: none

fix(html/md): update failed to error
  src/batch_tamarin/templates/report.html.j2
  src/batch_tamarin/templates/report.md.j2
Due: none

fix(latex): python forced hyphenation (thanks latex)
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.tex.j2
Due: black, isort, autoflake

feat(latex): fine tune
  src/batch_tamarin/templates/report.tex.j2
  tests/fixtures/complete-example-results/execution_report.json
Due: none

fix(summary): updated failed to error
  src/batch_tamarin/templates/summary.html.j2
Due: none

test(examples) : long task to test templating
  examples/long.json
Due: none

docs(report): update documentation
  ARCHITECTURE.md
  README.md
  RECIPE_GUIDE.md
  pyproject.toml
  src/batch_tamarin/__init__.py
Due: black, isort, autoflake, update-version

fix(task_manager_test): using real time broke time mocking
  tests/test_task_manager.py
Due: black, isort, autoflake

fix: test pyright disable
  tests/conftest.py
  tests/test_batch_manager.py
  tests/test_batch_model.py
  tests/test_cache_manager.py
  tests/test_config_manager.py
  tests/test_integration.py
  tests/test_lemma_parser.py
  tests/test_output_manager.py
  tests/test_report_data.py
  tests/test_report_generator.py
  tests/test_resource_manager.py
  tests/test_signal_handling.py
  tests/test_task_manager.py
  tests/test_task_runner.py
Due: black, isort, autoflake

fix: typing
  src/batch_tamarin/model/report_data.py
  src/batch_tamarin/modules/cache_manager.py
  src/batch_tamarin/utils/dot_utils.py
Due: black, isort, autoflake

feat(typst): report update
  src/batch_tamarin/modules/report_generator.py
  src/batch_tamarin/templates/report.typ.j2
Due: black, isort, autoflake

fix: template cleaning
  src/batch_tamarin/templates/report.typ.j2
Due: none

refactor(task scheduling) : perf optimization, 'fifo', 'sjf' and 'ljf' strategies, 'fifo' as default
  src/batch_tamarin/commands/run.py
  src/batch_tamarin/main.py
  src/batch_tamarin/model/tamarin_recipe.py
  src/batch_tamarin/modules/resource_manager.py
  src/batch_tamarin/runner.py
  tests/test_resource_manager.py
  tests/test_task_runner.py
Due: black, isort, autoflake
